@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Indie+Flower&display=swap');
body{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    height: 100vh;
    background-color: #6116bd;
}
.header{
    position: fixed;
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25%;
    background-color: #6116bd;
    z-index: 1;
}

.headerBtns{
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    user-select: none;
}

.cont{
    height: 100%;
    width: 100%;
}
.homeCont{
    margin: 0;
    height: calc(100% - 100px);
    width: 100%;
}
a{
    text-decoration: none;
    height: 25px;
    border-bottom: 3px solid transparent;
}
a:hover{
    border-bottom: 3px solid rgb(255, 225, 0);
}
img{
    position: absolute;
    bottom: 0px;
}

.a{
    opacity: 0;
    animation: anim1 1000ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

.bCont{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigText{
    color: white;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Indie Flower';
}

@keyframes anim1 {
    0% { opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}