@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Indie+Flower&display=swap');
@font-face {
    font-family: 'Mono Lisa';
    src: url('../fonts/MonoLisa-Regular.ttf');
}
@font-face {
    font-family: "MyFont";
    src: url("../fonts/MyFont.ttf");
}
@import url('http://fonts.cdnfonts.com/css/dm-serif-display');

body{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    height: 100vh;
    overflow: overlay;
}

.sig{
    position: absolute;
    bottom: 0;
    z-index: 99;
    right: 0;
    padding: 20px;
    font-family: 'MyFont';
    color: white;
    font-size: 20px;
    -webkit-user-select: none;
    user-select: none;
}
*::-webkit-scrollbar{
    height: 0px;
    width: 3px;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.268);
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.468);
}
*::-webkit-scrollbar:hover{
    width: 10px;
}

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6116bd;
    z-index: 1;
}

.headerBtns{
    color: #ffffff99;
    font-weight: 700;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    -webkit-user-select: none;
    user-select: none;
    margin: 1vw;
}

.cont{
    height: 100vh;
    width: 100vw;
    white-space: nowrap;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: overlay;
    scroll-behavior: smooth;
}

.home{
    background-color: #6116bd;
}

.headerBtns:hover{
    animation: anim 500ms forwards;
}

.a{
    opacity: 0;
    animation: fadeIn 1000ms 200ms forwards;
}

.b{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-img{
    height: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    animation: fadeIn1 1000ms 1000ms forwards;
}
.subcont{
    height: calc(100vh - 100px);
    display: inline-block;
    position: relative;
    padding-top: 100px;
    min-width: 100vw;
}
.cards-cont{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    perspective: 2000px;
}
.in{
    background-color: transparent !important
}

.card{
    position: relative;
    height: 250px;
    width: 450px;
    margin: 0 30px;
    padding: 30px;
    box-sizing: border-box;
    transition: 200ms scale ease-in;
    transform-style: preserve-3d;
    -webkit-user-select: none;
    user-select: none;
}
.card:hover, .edu-card:hover{
    scale: 1.03;
}

.card-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.card-tags-cont{
    height: calc(100% - 78px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.card-tags{
    height: 15px;
    padding: 10px 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.114);
    border-radius: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: small;
}
.card-ico-cont{
    display: grid;
    width: 100%;
    height: 40px;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    justify-items: center;
}


.card-back, .card-front{
    border-radius: 10px;
    background-color: #ab79c0;
    box-sizing: border-box;
    padding: 30px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.card-front{
    transform: translateZ(1px);
}
.card-back{
    transform: rotateY(-180deg);
}
.card-description{
    text-overflow: clip;
    white-space: pre-line;
}

a{
    color: black;
    text-decoration: none;
}
.ico, .bi{
    opacity: 0.8;
}
.ico:hover, .bi:hover{
    opacity: 1;
}
.ico::before, .ico, .bi::before{
    margin-right: 5px;
    font-size: 40px;
    cursor: pointer;
}

.rl-btn{
    position: absolute;
    height: 60px;
    width: 60px;
    margin: 20px;
    top: calc(150vh);
    opacity: 0.04;
    filter: drop-shadow(30px 30px 20px rgba(0, 0, 0, 0.66));
    transition: 150ms opacity ease-in;
}
.l{
    display: none;
    left: 10px;
}
.r{
    right: 10px;
}
.rl-btn::before{
    font-size: 60px;
    color: white;
}
.rl-btn:hover{
    opacity: 0.8
}

#work{
    background-color: #7f349f;
}
#edu{
    background-color: #9d5281;;
}
#skills{
    background-color: #bb7063;
}
#blog{
    background-color: #d98e45;
}
#contact{
    background-color: #f7ac27;
}

@keyframes anim {
    0%{
        color: #ffffffaa;
    }
    100%{
        color: #ffffff;
    }
}

@keyframes fadeIn {
    0% { opacity: 0;
        display: block;
    }
    100% {
        display: block;
        opacity: 1;
    }
    
}
@keyframes fadeIn1 {
    0% { opacity: 0;
        display: block;
    }
    100% {
        display: block;
        opacity: 0.5;
    }
    
}

.typeEffCont{
    display: flex;
    height: 50px;
    align-items: flex-end;
}

.typeEffect{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 50px;
    outline: none;
    font-family: 'Mono Lisa';
    -webkit-user-select: none;
    user-select: none;
}

.caret{
    height: 5px;
    width: 30px;
    background-color: white;
    animation: blink1 1s normal 1s infinite forwards;
}

@keyframes blink1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes flipLeft {
    100%{
        transform: rotateY(-180deg)
    }
}

@keyframes flipRight {
    0%{
        transform: rotateY(-180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
    
}


@media (max-width: 550px) {
    .headerBtns{
        font-size: small;
        height: 15px;
        border-width: 2px !important
    }
    .cards-cont{
        grid-template-rows: 1fr 1fr 1fr;
    }
    .card{
        width: 380px;
        height: 200px;
    }
    .rl-btn{
        visibility: hidden;
    }
}


.edu-cards-cont{
    height: 100%;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    overflow-x: auto;
}

.edu-card{
    height: 75%;
    width: 600px;
    display: flex;
    border-radius: 25px 0 0 25px;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.06);
    transition: 200ms scale ease-in;
    overflow: hidden;
}

.edu-img-cont, .edu-des-cont{
    width: 45%;
    height: 100%;
    overflow: hidden;
}
.edu-des-cont{
    width: 55%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}
.edu-des-cont :nth-child(1){
    color: white;
    font-size: 25px;
}
.edu-des-cont > div > b, .edu-des-cont :nth-child(3) {
    font-size: 15px !important
}


.edu-img-cont > img{
    border-radius: 25px 0 0 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 300ms scale ease-in;
}

.edu-img-cont > img:hover{
    scale: 1.1;

}

.edu-sub-cont{
    height: calc(50% - 70px);
    width: 100vw;
}

.cert-cont{
    grid-template-columns: auto;
    width: 100vw;
    justify-items: left;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
}

.certs{
    height: 100%;
    width: 400px;
    text-align: center;
    color: white;
    transition: 200ms transform ease-in;
}
.cert-img{
    width: 300px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

.labeltext{
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
    width: 400px;
}

.certs:hover{
    transform: scale(1.03);
}