@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Indie+Flower&display=swap');
@font-face {
    font-family: 'Mono Lisa';
    src: url('../fonts/MonoLisa-Regular.ttf');
}
body{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    height: 100vh;
    overflow: overlay;
}
body::-webkit-scrollbar{
    height: 10px;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.header{
    position: fixed;
    top: 0px;
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25%;
    background-color: #6116bd;
    z-index: 1;
}

.headerBtns{
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    -webkit-user-select: none;
    user-select: none;
}

.cont{
    height: 100%;
    width: 100%;
}
.home{
    background-color: #6116bd;
}

.headerBtns:hover{
    animation: anim 500ms forwards;
}
img{
    position: absolute;
    bottom: 0px;
}

.a{
    opacity: 0;
    animation: fadeIn 1000ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

.b{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pImg{
    position: absolute;
    top: 30%;
    left: 70%;
}

#work{
    background-color: #7f349f;
}
#edu{
    background-color: #9d5281;
}
#skills{
    background-color: #bb7063;
}
#blog{
    background-color: #d98e45;
}
#contact{
    background-color: #f7ac27;
}

@keyframes anim {
    0%{
        border-bottom: 3px solid rgba(255, 225, 0, 0);
    }
    100%{
        border-bottom: 3px solid rgba(255, 225, 0, 1);
    }
}

@keyframes fadeIn {
    0% { opacity: 0;
        display: block;
    }
    100% {
        display: block;
        opacity: 1;
    }
    
}

.typeEffect{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 50px;
    outline: none;
}

.caret{
    width: 2px;
    background-color: white;
    animation: blink1 1s normal 1s infinite forwards;
}

@keyframes blink1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}